# 01.intro

## shortcut
- ctrl+enter
- alt+enter
- shift+enter
## 주의사항 

1. Apple / apple (대문자 소문자 확실히 구분)
2. git add./ git add . (띄어쓰기 확실히 구분)
3. message / massage

In [5]:
# 코드 안에서 주석을 쓰는 방법. 샵을 쓰면 됩니다.

## 1. 변수 

변수이름 = 값

- 변수이름은 어떤 이름이든 사용가능하지만 영어, 숫자, _ 을 사용해야함
- 키워드는 사용 불가

In [6]:
a=20

In [7]:
a
#a 라는 박스에 20을 넣었기 때문에 a만 입력해도 20이 나옴

20

## 1.1 number

In [8]:
a = 100000

In [10]:
a

100000

In [12]:
type(a)

int

In [14]:
b=1.2

In [16]:
type(b)

float

In [17]:
c=1-4j

In [19]:
c

(1-4j)

In [20]:
type(c)

complex

 ## 1.2 boolean
 true false로 이루어진 타입
 (컴퓨터가 이해하기 좋은 0과 1로 이루어진 것) 
 조건문에서 많이 사용하게 됨

1.3 None (애초에 데이터가 없는 경우) null과 같고 empty string은 데이터가 0을 말하는 것으로, 둘이 명백히 다른 것임

In [22]:
a=None

In [24]:
type(a)

NoneType

## 1.4 String
문자열은 "" 로 / 작은 따옴표도 가능한데 일관성은 있어야 함

In [25]:
a="hello"

In [26]:
type(a)

str

In [27]:
age = input()
#input으로 실행한 데이터를 age라는 박스 안에 넣어줘 
#input은 사용자의 데이터를 받는 함수 
#input이라는 함수를 실행하면, 입력할수 있는 공간이 뜸

 123

In [28]:
print(age)

123

In [29]:
print(type(age))
# input 함수에 숫자 형식으로 넣어도 str 형식으로 저장됨

<class 'str'>

In [30]:
print("안녕하세요 '박진경'입니다")

안녕하세요 '박진경'입니다

In [31]:
print('안녕하세요 "박진경"입니다.')

안녕하세요 "박진경"입니다.

In [32]:
print("안녕하세요 \'박진경\'입니다.")
# \데이터 정리를 도와주는 것 (여러줄도 한번에 작성 가능한 등,)

안녕하세요 '박진경'입니다.

In [36]:
print("안녕하세요 \n 박진경입니다")

안녕하세요
 박진경입니다

In [39]:
age2 = 10

In [40]:
##문자열 안에 변수를 넣는 방법 - f string
print(f"박진경은 {age2}살입니다.")

박진경은 10살입니다.

2. 연산자
   2.1 산술연산자

In [49]:
a=7
b=3

In [44]:
a**2

4

In [45]:
a**3

8

In [52]:
print(a//b) #a를 b로 나눈 몫
print(a%b)  #a를 b로 나눈 나머지

2
1

2.2 비교연산자 (등호, 연산자 사이에 띄우는게 관례상 맞음)

In [58]:
a = 10
b = 30

In [57]:
print(a > b)
print(a < b)

False
True

In [60]:
#문자열도 비교 가능 
print("hi" == "hi")
print("Hi" == "hi")

True
False

2.3 논리 연산자
- and : 양쪽 모두 true 일 때 TRUE를 반환 
- or  : 양쪽 모두 False 일 때 FALSE를 반환 
- not :

In [62]:
print(not True)

False

In [63]:
print(3 and 5) #true and true(앞이 T니, 뒤에 값<-- and라서 / OR 면 앞의 값)
print(3 and 0) #true and false (앞이 T니, 뒤에 값)
print(0 and 1) #false and true(앞이 0이니 볼것도 없이 0)
print(0 and 0) #false and true (앞이 0이니 볼것도 없이 0)

5
0
0
0

In [64]:
print(3 or 5)

3

2.4 복합 연산자

In [ ]:
+= : 덧셈과 대입 
-= : 빼기와 대입 
*= : 곱셈과 대입 
/= : 나누기 및 대입
//= : 층 분할 및 할당
%= : 계수 및 대입
**= : 거듭제곱 및 대입

3.5 기타 연산자

In [65]:
a = "hello"
b = "hi"

In [66]:
print(a+b)

hellohi

In [74]:
c = [1, 2, 3]
d = [4, 5, 6]

In [75]:
print(c + d) #중괄호 쓰면 오류 남

[1, 2, 3, 4, 5, 6]

In [76]:
print(1 in c)
print (6 in c)

True
False

### 우선순위
0. ()를 통해 그룹
1. **
2. 산술연산자(*,/)
3. 산술연산자(+,-)
4. 비교연산자(in, is)
5. not
6. and
7. or

In [78]:
print(-3**4) # 마이너스를 먼저 계산하는 구조이기 때문에 마이너스 81
print((-3)**4)

-81
81

# 3. 형변환
## 3.1 암시적 형변환 
ex) true, false를 0과 1로 변환해주는 것

In [79]:
a = True 
b = False 
c = 1

In [81]:
print(a + b) #파이썬이 알아서 숫자로 TF를 0과 1로 알아서 바꿔서 계산함. ,print는 숫자만 넣어서

1

In [82]:
print(b - c)

-1

In [84]:
int_num = 3
float_num = 3.3
complex_num = 3+3j

In [89]:
print(type(int_num + float_num)) #int를 float로 확장해서 자동으로 덧셈으로 보여주는 것 
#더 범주가 큰 것으로 확장이 되어서 int를 float로 확장하는 것

<class 'float'>

In [90]:
e=1
f="기"

In [91]:
print(e+f)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [92]:
print(f+e)

TypeError: can only concatenate str (not "int") to str

In [94]:
print(str(e)+f) #str 끼리 더해야해서 숫자 형태를str로 바꿔줘야함

1기

In [96]:
a = 1 
b = 0 

print(bool(a))
print(bool(b))

True
False

##4. 시퀀스 자료형 
시퀀스는 데이터의 순서대로 나열된 자료구조 (순서대로 나열되었다는 것은 정렬된 것과 다름)
1. List (상관관계 데이터를 연속적으로 저장할 때)
2. Tuple
3. Range
4. String

*대괄호를 쓰기 
값과 값 사이를 쉼표로. 
* 선언 : 변수이름 = [value1, value2]
* 접근 : 변수이름[index]

In [98]:
location = ["진주", "인천", "서울"]

In [100]:
print(location)

['진주', '인천', '서울']

In [102]:
print(location[0])

진주

In [104]:
location[0] = "광주" 
print(location)
# 0에 있는 위치를 광주로 재구성 하는 것임

['광주', '인천', '서울']

In [106]:
#Tuple - 데이터 assignment를 지원하지 않음 / 리스트와 유사하지만 수정 불가능합니다. 튜플은 처음 만든대로 유지하게 함 
#소괄호 
# 연산결과를 뭉쳐서 사용할 때 
# 잘 다루지는 않음
numbers = (123, 456)

In [108]:
lotto = range(45)
print(lotto)
print(list(lotto))

range(0, 45)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44]

In [111]:
#range(n) : 0부터 n-1까지 범위 
#range(n, m, s) : n부터 m-1까지 s만큼 증가하는 범위
#마이너스로 내려가는 구조도 가능

In [114]:
numbers = range(5,10) 
print(numbers)
print(list(numbers))

range(5, 10)
[5, 6, 7, 8, 9]

In [115]:
even = range(2, 20, 2)
print(even)
print(list(even))

range(2, 20, 2)
[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [118]:
even2 = range(2, -10, -2)
print(even2)
print(list(even2))
#마이너스로 내려갈때 수평선 기준으로 n-1을 양수 기준으로 생각해야함

range(2, -10, -2)
[2, 0, -2, -4, -6, -8]

### 4.4 string

### 4.5 시퀀스에서 활용가능한 연산/함수

In [122]:
my_list=[1,2,3,4,5]
my_tuple=(1,2,3,4,5)
my_range=range(5)
my_string="5"

In [124]:
#indexing
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])
#string도 시퀀스에 포함되는 이유는 인덱싱을 할수 있기 때문

1
1
0
5

In [129]:
print(my_list[1:3])

[2, 3]

In [131]:
#컴퓨터는 ~이상 ~미만으로 숫자를 세어서 3의 자리가 4인데 3 값이 나오는 것임

In [133]:
#in 
print(1 in my_list)
print(1 in my_tuple)
print("1" in my_string) #string은 문자형태여서 str 형태로 설정해야함

True
True
False

In [139]:
#concatenation 
print(my_list+[6, 7, 8])
print(my_tuple+(6, 7, 8))
print(my_string+" ,6, 7, 8")

[1, 2, 3, 4, 5, 6, 7, 8]
(1, 2, 3, 4, 5, 6, 7, 8)
5 ,6, 7, 8

In [144]:
#*
print('#')
#샵을 열 번 출력하고 싶으면 ? 
print('#' *10)

#
##########

In [147]:
print(len(my_list))
#다섯개의 데이터가 있습니다
print(max(my_list))
#숫자 데이터 중에서 가장 높은 숫자 
#min은 최솟값

5
5

### 5. 시퀀스가 아닌 자료구조 (순서가 상관이 없다, 그냥 집합 안에 들어있는 값들)
수학에서 사용하는 집합과 동일한 개념
집합은 서로 더할수 있고 뺄 수 있음

In [149]:
my_set_a = {1, 3, 5, 7, 9}
my_set_b = {1, 2, 3, 4, 5}

In [153]:
print(my_set_a-my_set_b) 
print(my_set_a|my_set_b)
print(my_set_a & my_set_b)

{9, 7}
{1, 2, 3, 4, 5, 7, 9}
{1, 3, 5}

In [155]:
test_set = {1, 2, 3, 1, 2, 2,}
print(test_set)

{1, 2, 3}

### 5.2 Dictionary
- 선언 : 변수이름 = {key1: value1, key2: value2}
- 접근 : 변수이름(key)

In [158]:
my_dict={"서울": "02", "경기": "031"}
print(my_dict)
#딕셔너리를 선언하는 방법
#서울의 값을 알고 싶어! 사전으로 생각하고, key를 입력하면 됨
print(my_dict["서울"])

{'서울': '02', '경기': '031'}
02

In [161]:
my_info={"지역":"서울", "나이":10, "키":160}
print(my_info["나이"])

10

In [ ]:
keys를 모르는 경우가 있음 
key들의 목록을 보고 싶을 때, values들의 목록을 보고 싶을 때

In [162]:
my_info.keys()

dict_keys(['지역', '나이', '키'])