In [2]:
#object는 파이썬 데이터 하나하나 / 데이터를 하나 가지고 있고 기능을 하나 가지고 있음 
#각 각 object가 가지고 있는 기능 
print("Hello")

Hello

In [4]:
print(dir('hello'))
#'hello'라는 기능이 할수 있는걸 모두 말해주는 것

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

### 문자열 메소드 
- 문자열이 실행할수 있는 기능, 함수

In [5]:
a = 'hello my name is Hong'

In [6]:
print(a)
# 문자열 : immutable (수정이 불가능하다)

hello my name is Hong

In [7]:
a.capitalize()

'Hello my name is hong'

In [8]:
a.title()

'Hello My Name Is Hong'

In [9]:
a.upper()

'HELLO MY NAME IS HONG'

In [10]:
a.lower()

'hello my name is hong'

In [11]:
#원본 데이터를 수정해주지는 않음 
#재할당으로 원본을 바꾸면 됨 
a = a.upper()
print(a)

HELLO MY NAME IS HONG

In [15]:
my_list = ['my' , 'name', 'is']
print('!!!'.join(my_list))
#작은 따옴표 조심, !!!로 리스트 내용들을 합쳐 준다

my!!!name!!!is

In [17]:
my_string = '               hello     \n  '
print(my_string)
#좌우 공백을 지워야할 때 (보통 엑셀에서 불러와서)
print(my_string.strip())

               hello

hello

In [19]:
my_string2 = '----------hello------' 
print(my_string2.strip('-'))
print(my_string2.lstrip('-'))
print(my_string2.rstrip('-'))      
#'-'를 없애주고 싶음

hello
hello------
----------hello

In [20]:
a = "wooooooow"
a.replace('o','a',3)

'waaaoooow'

In [21]:
a.replace('o','',3)

'woooow'

In [23]:
a = 'appple' 
print(a.index('a'))
print(a.index('p'))
#만약 데이터가 없으면 에러가 뜸

0
1

### 리스트 메소드

In [26]:
numbers = [1, 2, 3, 4, 5, 6]

In [27]:
numbers.append(10)
print(numbers)
#오른쪽에 붙는 개념

[1, 2, 3, 4, 5, 6, 10]

In [28]:
a=[99,100]

In [29]:
numbers.extend(a)
print(numbers)

[1, 2, 3, 4, 5, 6, 10, 99, 100]

In [35]:
#어디에 무엇을 넣을까 ? 
numbers.insert(5, -10)
print(numbers)

[1, 2, 3, 4, 5, -10, 6, 10, 99, 100]

In [36]:
numbers.remove(-10)
print(numbers)
#만약 제거할 값이 없으면 에러 값이 뜸

[1, 2, 3, 4, 5, 6, 10, 99, 100]

In [40]:
# 자료구조 스택 (stack) (아래에서부터 쌓이는 구조임) que와 비교 
# 스택은 LIFO 
result = numbers.pop()
print(numbers, result)
#뽑은 다음 활용하고 싶을 때

[2, 3, 4, 5, 6] 10

In [38]:
numbers.pop(0)
print(numbers)

[2, 3, 4, 5, 6, 10, 99]

In [ ]:
# pop은 위치에 있는 데이터를 지우는 것
# pop을 했을 때 결과물이 어딘가 저장된다

In [41]:
#데이터를 정렬하는 것 
numbers.sort()
print(numbers)
#오름차순
numbers.sort(reverse = True)
print(numbers)
#내림차순

[2, 3, 4, 5, 6]
[6, 5, 4, 3, 2]

In [43]:
numbers = [5, 3, 7, 8, 0]
print(sorted(numbers)) #결과만 알려주고 원본은 안 바뀜 
print(numbers)
#sort는 원본을 변화시킴. sorted은 결과만 가르쳐주는 느낌

[0, 3, 5, 7, 8]
[5, 3, 7, 8, 0]

In [45]:
print(numbers)
numbers.reverse()
print(numbers)

[5, 3, 7, 8, 0]
[0, 8, 7, 3, 5]

In [48]:
print(numbers[1:3])
#1이상 3미만 
print(numbers[-2])
#뒤에서부터 숫자를 세었을 때 두번째에 있습니다 
print(numbers[::-1])

[8, 7]
3
[5, 3, 7, 8, 0]

### list copy

In [50]:
origin_list=[1, 2, 3]
copy_list = origin_list

In [51]:
#원본데이터만 바꿨을 때 copy 한 것도 같이 바뀜 
#엄밀히 따지자면 직접 데이터를 하나하나 다 저장한게 아니라, 주소를 저장한 것
#그래서 원본데이터만 바꿔도 copy도 같이 바뀜 
origin_list[0] = 100
print(copy_list)

[100, 2, 3]

In [52]:
origin_list=[1, 2, 3]
copy_list = origin_list[:] #슬라이싱을 해서 카피 했다는 뜻, 주소 말고 하나씩 다 저장했다는 뜻 

origin_list[0] = 100

print(origin_list)
print(copy_list)

[100, 2, 3]
[1, 2, 3]

In [53]:
origin_list = [1, 2, [4,5]]
copy_list = origin_list[:]

origin_list[0] = 100
origin_list[2][0] = 100

print(origin_list)
print(copy_list)

#범위 내에서 슬라이싱 한다는 뜻 ?

[100, 2, [100, 5]]
[1, 2, [100, 5]]

In [54]:
import copy
origin_list = [1,2, [3,4]]
copy_list = copy.deepcopy(origin_list)

origin_list[0] = 100
origin_list[2][0] = 100

print(origin_list)
print(copy_list)

[100, 2, [100, 4]]
[1, 2, [3, 4]]

### list comprehension
- 읽을 수는 있어야 함

In [55]:
numbers = list(range(1,10))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
result = []
for number in numbers:
    temp = number ** 3
    result.append(temp)
print(result)
#As you can see, each call to append adds a new element (temp) to the result list, 
#while the existing elements in the list remain unchanged. 
#The append function modifies the list in place by adding a new element to the end, 
#preserving all previously added elements.

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [57]:
result = [number **3 for number in numbers]
#반복문을 어떻게 계산할 건지 앞에 적어주는 st 
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [58]:
result = []
for number in numbers:
    if number % 2 == 0 : 
        result.append(number) #result라는 변수에 차곡차곡 더하기 
print(result)

[2, 4, 6, 8]

In [60]:
result = [number for number in numbers if number % 2 == 0]
print(result)

[2, 4, 6, 8]

In [61]:
words = 'my name is hong'

In [62]:
result = []
char = ['a','i','e','o','u']
for word in words:
    if word == char:
        result = replace[char,'']
print(result)

[]

In [64]:
words = 'my name is hong'
char = ['a','i','e','o','u']
words.replace(char,'')

TypeError: replace() argument 1 must be str, not list

In [67]:
s = s.replace(' ', '')

NameError: name 's' is not defined

In [70]:
c=words.split()

a_list = [c for c in s if c not in 'aeiou']

s = ''.join(a_list)

NameError: name 's' is not defined

In [69]:
words.split()

['my', 'name', 'is', 'hong']

In [73]:
words = "my name is hong"
c = words.split()

a_list = [char for char in words if char not in 'aeiouAEIOU']
s = ''.join(a_list)

print(s)

#In Python, the join() method is used to concatenate the elements of an iterable (like a list or tuple) into a single string. 
#The string that precedes the join() method is used as the separator between the elements of the iterable.
#''.join(a_list): The '' (empty string) is used as the separator, meaning no characters will be inserted between the elements of a_list. 
#The elements will be joined together directly.

my nm s hng

In [75]:
vowels = 'aeiou'
result = []
for char in words:
    if char in vowels:
        pass
    else:
        result.append(char)
print(result)
''.join(result)

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']

'my nm s hng'

In [76]:
vowels = 'aeiou'
result = []
for char in words:
    if char not in vowels:
        result.append(char)
print(result)
''.join(result) #join은 ieterable, 시퀀스 형태를 넣을수 있음

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']

'my nm s hng'

In [82]:
words = "my name is hong"
vowels = 'aeiou'

for char in words:
    words = words.replace(char,'')
    
print(words)


#????????????? 코드 다시 보기

### dictionary 메소드

In [84]:
info = {'name': 'hong', 'location': 'Seoul', 'age': 200, 'models': ['iphone', 'mac book'], 'phone_book': {'kim':1234, 'kang':3456}}

In [85]:
#딕셔너리의 데이터는 대괄호를 통해서 접근함 
print(info['name'])
print(info['models'][0])

hong
iphone

In [92]:
info['name']='park'
info.update(name='oh')
#강제로 할당하는 방법 
print(info)

{'name': 'oh', 'location': 'Seoul', 'age': 200, 'models': ['iphone', 'mac book'], 'phone_book': {'kim': 1234, 'kang': 3456}}

In [94]:
age = info.pop('age')
print(info, age)

KeyError: 'age'

In [95]:
print(info.get('name'))

oh

In [97]:
print(info.get('birth'))
#에러가 뜨지 않고 none 값이 나옴 . 그냥 대괄호만 넣으면 에러 뜸

None

In [99]:
blood_type = ['A','B','C','D']

blood_dict = {'A':2, 'B':2, 'AB':1, 'O':1}

In [ ]:
result = {'A': 0. 'B': 0, 'AB': 0, 'O': 0}

for blood in blood_type:
    blood_type[blood] +=1 
    
    ####

In [106]:
location = ['서울', '대전', '서울', '부산', '강릉','LA']
# 기존에 있는 key면 더하고 , 없는 key면 초기화 
# 도시별 인원 수를 저장할 딕셔너리 초기화
city_count = {}

# 각 도시를 순회하며 인원 수를 세기
for city in location:
    if city in city_count: #city_count의 key에 있다면 
        city_count[city] += 1
    else:
        city_count[city] = 1

# 결과 출력
for city, count in city_count.items():
    print(f"{city}: {count}명")

서울: 2명
대전: 1명
부산: 1명
강릉: 1명
LA: 1명

In [108]:
locations = ['서울', '대전', '서울', '부산', '강릉','LA']

result = {} 

for location in locations: 
    if result.get(location):
        result[location] +=1
        pass
    else:
        result[location] = 1

print(result)

{'서울': 2, '대전': 1, '부산': 1, '강릉': 1, 'LA': 1}

In [110]:
result ={}
numbers = list(range(1,11))

for number in numbers:
    result[number] = number**3
print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [111]:
dust = {'서울' : 50, '대전' : 100, '부산': 200}
result = {}
#item을 쓰면 키와 벨류를 함께 쓸수 있음 
for key, value in dust.items():
    if value > 70:
        result[key] = value
print(result)

{'대전': 100, '부산': 200}

In [112]:
result = {k:v for k, v in dust.items() if v>70}
print(result)

{'대전': 100, '부산': 200}

### 세트 메소드

In [115]:
fruits = {'apple', 'banana', 'melon', 'apple'}
print(fruits)

{'melon', 'apple', 'banana'}

In [118]:
fruits.add('수박')
fruits.update('grapes')
print(fruits)

{'melon', 's', 'a', 'r', 'p', 'apple', 'e', 'banana', 'g', '수박'}

In [132]:
fruits.update({'grape', 'orange'})
print(fruits)

{'melon', 's', 'orange', 'a', 'r', 'p', 'apple', 'e', 'banana', 'g', '수박', 'grape'}

### map filter zip

In [120]:
numbers = [1, 2, 3, 4, 5]
result = []
for number in numbers:
    result.append(str(number))
print(result)

['1', '2', '3', '4', '5']

In [121]:
result = map(str, numbers)
print(result)
print(list(result)
#map 객체의 실제 값을 확인하려면 이터레이터의 모든 원소를 평가(evaluate)하여 리스트나 
#다른 자료형으로 변환해야 합니다. 
#list(result)를 사용하면 map 객체의 모든 원소를 리스트로 변환하여 쉽게 확인할 수 있습니다.

<map object at 0x00000290C5188220>
['1', '2', '3', '4', '5']

In [122]:
result=[]
for number in numbers:
    result.append(number **3)
print(result)

[1, 8, 27, 64, 125]

In [126]:
test_input = '1 2 3 4'
print(list(map(int, test_input.split())))
#문제 풀때 텍스트로 주어지면 숫자로 바꿔서 계산할 때 많이 쓰이는 코드

[1, 2, 3, 4]

In [128]:
def is_odd(x)
    return x % 2

In [130]:
numbers = [1, 2, 3, 4, 5]

result = []
for number in numbers:
    if number % 2:
        result.append(number)
print(result)

[1, 3, 5]

In [129]:
numbers = [1, 2, 3, 4, 5]
result = filter(is_odd, numbers)
print(list(result))

[1, 3, 5]

In [131]:
a = [1, 2, 3]
b = [100, 200, 300, 400, 500]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x00000290C56727C0>
[(1, 100), (2, 200), (3, 300)]